doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Tour Guide for Spartans
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        // jQuery ui CSS
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='https://use.fontawesome.com/f9b22d3044.js')

        // Custom CSS
        link(href='stylesheets/places.css', rel='stylesheet')

        // Autocomplete funciton
    body
        nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='#')
                img.img-fluid(src='images/qIXtA.png', height='30px', width='30px')
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='#') About
                    li.nav-item
                        a.nav-link(href='#') Contact
                form.form-inline.mt-2.mt-md-0
                    .ui-widget
                        input#tags.form-control.mr-sm-2(type='text', placeholder='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                ul.navbar-nav.justify-content-end
                    li.nav-item
                        if user
                            a.nav-link(href='/home') Hello, #{user.firstName}!
                        else
                            a.nav-link(href='/login') Join Us


        .container-fluid
            .row
                h2 #{items.name}
            .row
                .col-6
                    #accordion(role='tablist', aria-multiselectable='true')
                        .card
                            #headingOne.card-header(role='tab')
                                h5.mb-0
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        |   Description
                            #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne')
                                .card-block
                                    |   #{items.description}
                        .card
                            #headingTwo.card-header(role='tab')
                                h5.mb-0
                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                        |   Contact
                            #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                .card-block
                                    i.fa.fa-external-link(aria-hidden='true')
                                    a(href='#{items.website}') Website
                                    br
                                    i.fa.fa-phone(aria-hidden='true')
                                    |   +1 #{items.info[1]}
                        .card
                            #headingThree.card-header(role='tab')
                                h5.mb-0
                                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                        |   Nearby Places
                            #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
                                .card-block
                                    for scene in items.scenes
                                        i.fa.fa-external-link(aria-hidden='true')
                                        a(href='#{scene.url}') #{scene.name}
                                        br

                .col-6
                    iframe(width='600', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyD24HTaCZNl759ZbQduQKfitIi2hOCAULw&q=#{items.name}', allowfullscreen)

        hr

        .row.justify-content-center
            .col-md-6.comments
                .comment-wrap
                    .photo
                        .avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')")
                    .comment-block
                        form(action='/addReview' method='post')
                                textarea(name='content', id='textarea1' cols='30', rows='3', placeholder='Add comment...')
                                button.btn.icon-btn.btn-primary(type='submit')
                                    i.fa.fa-share-square-o(aria-hidden='true')
                                    span.img-circle.text-info
                                    | Share
                .float-right

                for review in items.reviews
                    .comment-wrap
                        .photo
                            img.avatar(src='#{items.images[0]}')
                        .comment-block
                            p.comment-text #{review.content}
                            .bottom-comment
                                .comment-date #{review.updateDate}






            .col-md-6

                .row
                    for image in items.images
                        a.col-sm-4(href='#{image}', data-toggle='lightbox', data-gallery='#gallery')
                            img.img-fluid(src='#{image}')


                    // modal test code
                        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='gallery', aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    img.img-fluid(src='#{image}')


        hr





        // Bootstrap JavaScript
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
