doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Tour Guide for Spartans
        // Custom Fonts
        script(src='https://use.fontawesome.com/f9b22d3044.js')

        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')

        // Custom CSS
        link(href='stylesheets/test.css', rel='stylesheet')
    body#page-top

        .container
            .row.justify-content-center
                .col-10
                    h2
                        i.fa.fa-file-o
                        |  Search Results



                    hr
                    .input-group
                        input.form-control(type='text', value='', name='', placeholder='Search......')
                        span.input-group-btn
                            button.btn.btn-primary(type='button')
                                i.fa.fa-search
                    p.lead
                        strong.text-danger #{results.length}
                        |  results were found for the search
                        strong.text-danger &nbsp #{keyWord}


                    hr



                    hgroup.mb20

                    each item in results
                        section.col-xs-12.col-sm-6.col-md-12
                            article.search-result.row
                                .col-xs-12.col-sm-12.col-md-3
                                    a.thumbnail(href='#', title='#{item.name}')
                                        img(src='#{item.images[0]}', alt='#{item.name}', height="150" width="240")
                                .col-xs-12.col-sm-12.col-md-1
                                    //ul.meta-search
                                        li
                                            i.glyphicon.glyphicon-calendar
                                            span #{item.info[0]}
                                        li
                                            i.glyphicon.glyphicon-time
                                            span #{item.info[1]}
                                        li
                                            i.glyphicon.glyphicon-tags
                                            span #{item.info[0]}
                                .col-xs-12.col-sm-12.col-md-8.excerpet
                                    h3
                                        a(href='#{item.url}', title='') #{item.name}
                                    p
                                        | #{item.description.slice(0, 300)}...


                                span.clearfix.borda